<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<title>List Journal</title>
</head>

<body>

	<div id="App" class="container my-5">
		<h1>List Jurnal Dengan Vue.JS</h1>

		<table class="table">
			<thead>
				<tr>
					<th scope="col">No</th>
					<th scope="col">Title</th>
					<th scope="col">Isbn</th>
					<th scope="col">Author</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(row, nu) in datas" @click="updateModal(nu)">
					<td>{{row.id}}</td>
					<td>{{row.tile}}</td>
					<td>{{row.no}}</td>
					<td>{{row.dev}}</td>
				</tr>
			</tbody>
		</table>

		<button @click="modal()" class="btn btn-custom">Buat Jurnal Baru</button>

		<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel">Jurnal</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<input type="hidden" value="1">
						<div class="mb-3">
							<label class="form-label">Title</label>
							<input type="text" v-model="tile" class="form-control" required>
						</div>
						<div class="mb-3">
							<label class="form-label">ISBN</label>
							<input type="text" v-model="no" class="form-control" required>
						</div>
						<div class="mb-3">
							<label class="form-label">Author</label>
							<input type="text" v-model="dev" class="form-control" required>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button type="button" id="add" class="btn btn-custom" @click="addDass()">Add</button>
						<button type="button" id="edit" class="btn btn-custom" @click="updateData()">Update</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.6.1.min.js"
		integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous">
	</script>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
		integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
		integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
	<script>
		let datas = [{
				id: 1,
				tile: 'Based Design Mobile Learning Course on Android',
				dev: 'Liranti Rahmelina',
				no: "1978-0524-2528-6374"
			},
			{
				id: 2,
				tile: 'Development of Sales Application Using QR Code',
				dev: 'Ricky Akbar, Husnil Kamil',
				no: "1978-0524-2528-6374"
			},
			{
				id: 3,
				tile: 'Perancangan dan Implementasi Web Service pada Aplikasi Permainan ',
				dev: 'Gilang Arsya Priyatna Zaman',
				no: "1978-0524-2528-6374"
			},
			{
				id: 4,
				tile: 'Perancangan Augmented Reality Media Markerless PoI',
				dev: 'Abraham Christover Manuputty',
				no: "1978-0524-2528-6374"
			},
			{
				id: 5,
				tile: 'Pengembangan SIG Berbasis Node.JS untuk Pemetaan Mesin dan Tracking',
				dev: 'Rachmat Fajrin',
				no: "1978-0524-2528-6374"
			}
		]

		const Toast = Swal.mixin({
			toast: true,
			position: 'top-end',
			showConfirmButton: false,
			timer: 2500,
			timerProgressBar: true,
			didOpen: (toast) => {
				toast.addEventListener('mouseenter', Swal.stopTimer)
				toast.addEventListener('mouseleave', Swal.resumeTimer)
			}
		})
	</script>
	<script src="js/application.js"></script>
</body>

</html>