<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>List Jurnal</title>
	<link type="text/css" rel="stylesheet" href="css/style.css"/>
</head>
<body>

<div id="app">
	<h1>Database Jurnal dengan VueJS</h1>
	<table>
		<tr>
			<th v-for="t in titles">{{t}}</th>
		</tr>
		<tr v-for="(b, i) in books" @click="update(i)">
			<td>{{b.id}}</td>
			<td>{{b.title}}</td>
			<td>{{b.isbn}}</td>
			<td>{{b.author}}</td>
		</tr>
	</table>
	<button @click="add()">Buat Jurnal Baru</button>

	<template v-if="isAdd">
		<div id="grey-modal-background" @keyup.enter="newJurnal()">
			<div class="modal" @keyup.enter="newJurnal()">
				<label for="title">Title</label>
				<input type="text" id="title" v-model="title" :class="[inputErr[0] ? 'error' : '']" @keyup.enter="newJurnal()">
				<label for="isbn">ISBN</label>
				<input type="text" id="isbn" v-model="isbn" :class="[inputErr[1] ? 'error' : '']" @keyup.enter="newJurnal()">
				<label for="auth">Author</label>
				<input type="text" id="auth" v-model="author" :class="[inputErr[2] ? 'error' : '']" @keyup.enter="newJurnal()">
				<button class="green" @click="newJurnal()">Tambah Jurnal</button>
				<button @click="cancelAdd">Batal</button>
			</div>
		</div>
	</template>

	<template v-if="isUpdate">
		<div id="grey-modal-background" @keyup.enter="upJurnal(curId)">
			<div class="modal" @keyup.enter="upJurnal(curId)">
				<label for="title">Title</label>
				<input type="text" id="title" v-model="title" :class="[inputErr[0] ? 'error' : '']" @keyup.enter="upJurnal(curId)">
				<label for="isbn">ISBN</label>
				<input type="text" id="isbn" v-model="isbn" :class="[inputErr[1] ? 'error' : '']" @keyup.enter="upJurnal(curId)">
				<label for="auth">Author</label>
				<input type="text" id="auth" v-model="author" :class="[inputErr[2] ? 'error' : '']" @keyup.enter="upJurnal(curId)">
				<button class="green" @click="upJurnal(curId)">Update Jurnal</button>
				<button @click="cancelUpdate">Batal</button>
			</form>
		</div>
	</template>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="js/application.js"></script>
</body>
</html>