@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 10rem;
}
form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
input {
	all: unset;
	width: 300px;
	padding: 0.8rem 1rem;
	border-radius: 0.3rem;
	border: 1px solid black;
}
h1 {
	padding-bottom: 1rem;
}

table {
	padding-top: 1rem;
	background: #012b39;
	border-radius: 0.25em;
	border-collapse: collapse;
	width: 90vw;
}
th {
	border-bottom: 1px solid #364043;
	color: #e2b842;
	font-weight: 600;
	padding: 0.5em 1em;
	text-align: left;
}
tr:nth-child(even) {
	background: hsl(195, 97%, 15%);
}
td {
	color: #fff;
	font-weight: 400;
	padding: 0.65em 1em;
	font-size: 0.85em;
}
button {
	all: unset;
	padding: 0.8rem 1rem;
	border-radius: 0.3rem;
	background: #012b39;
	color: white;
	cursor: pointer;
	margin: 1rem auto;
}

button.btn-sec {
	color: #012b39;
	background-color: white;
}
