input{
  border:none;
  box-shadow: 0px 0px 10px black(67 ,65 ,65 ,.4);
  font-size: 1.2rem;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
}
input:focus{
  text-decoration: none;
}
input:focus-within{
  outline: none;
}
.App{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}